VITE_SUPABASE_URL=https://hxxndesrcqjrwpcurvbx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh4eG5kZXNyY3FqcndwY3VydmJ4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMxMTMyODEsImV4cCI6MjA4ODY4OTI4MX0.GRKi83-Y2jhM5pmxeSomjaViHx1wg32kEqg2Wogxua0
